<h1>Messages</h1>

<div class="form">
<h3>Write a new message</h3>
<%= simple_form_for (@message) do |f| %>
		<%= f.input :receiver_id, collection: User.all %>
		<%= f.input :content %>
	<div class ="align-button-center">
		<%= f.submit "Send", class: "btn btn-success w-100 my-3" %>
	</div>	
	<% end %>
</div>

<h1>Your messages</h1>

<div class="container">
	<div class="row">
		<div class="col-6 bg-white p-3">
			<h2>Messages sent</h2>
			<% @sent.each do |message| %>
				<div class="message">
				<p>At: <strong><%= message.receiver.first_name %> <%= message.receiver.last_name %></strong></p>
				<span><%= message.content %></span>
				</div>
			<% end %>
		</div>
		<div class="col-6 bg-white p-3">
			<h2>Messages received</h2>
			<% @receipt.each do |message| %>
				<div class="message">
				<p>From: <strong><%= message.sender.first_name %> <%= message.sender.last_name %></strong></p>
				<span><%= message.content %></span>
				</div>
			<% end %>
		</div>
	</div>
</div>