<h1>My messages</h1>

<div class="container">
	<% @messages.each do |message| %>
		<% if message.sender == current_user %>
		<div class="sent message">
			<div>
				<%= cl_image_tag message.receiver.avatar, crop: :fill, class: "avatar" %>
				<p>At: <strong><%= message.receiver.first_name %> <%= message.receiver.last_name %></strong></p>
				<p><%= message.content %></p>
			</div>
			<div>
				<span><%= link_to delete_message_path(message), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger" do %><i class="fas fa-trash"></i><% end %></span>
			</div>
		</div>
		<% else %>
			<% if message.read %>
				<div class="received message">
					<div>
						<%= cl_image_tag message.sender.avatar, crop: :fill, class: "avatar" %>
				  	<p>From: <strong><%= message.sender.first_name %> <%= message.sender.last_name %></strong></p>
				  	<p><%= message.content %></p>
        	</div>
					<div>
						<span><%= link_to delete_message_path(message), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger" do %><i class="fas fa-trash"></i><% end %></span>
					</div>
				</div>
			<% else %>
				<div class="new received message">
					<div>
						<%= cl_image_tag message.sender.avatar, crop: :fill, class: "avatar" %>
				  	<p>From: <strong><%= message.sender.first_name %> <%= message.sender.last_name %></strong></p>
				  	<p><%= message.content %></p>
        	</div>
					<div>
						<%= link_to 'mark as read', read_message_path(message), method: :patch, class: "btn btn-outline-primary text-primary" %>
						<span><%= link_to delete_message_path(message), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger" do %><i class="fas fa-trash"></i><% end %></span>
					</div>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
      