<div class="container">
  <div class="profile">
    <div class="part">
      <div class="d-flex align-items-center">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <%= cl_image_tag @user.avatar, crop: :fill, class: "avatar mx-3" %>
      </div>
      <p><i class="fas fa-phone"></i> <%= current_user.phone %></p>
      <p><i class="fas fa-envelope"></i> <%= current_user.email %></p>
      <i class="far fa-edit"></i>
      <%= link_to 'Edit Profile', edit_user_registration_path(current_user) %>
    </div>
    <div class="part bbqs">
      <h3>My Barbecues</h3>
      <% @user.barbecues.each do |b| %>
        <%= link_to barbecue_path(b), class: "text-secondary" do %>
          <%= render "barbecues/dashboard_card", b: b %>
        <% end %>
      <% end %>
      <%= link_to '+ Add a barbecue', new_barbecue_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="part bookings">
    <h3>My Bookings</h3>
    <% @bookings.each do |booking| %>
      <% if current_user.id == booking.barbecue.user_id %>
        <%= render "bookings/card", booking: booking %>
      <% elsif current_user == booking.user %>
        <%= render "bookings/card_booking", booking: booking %>
      <% end %>
    <% end %>
  </div>
</div>
