<div class="container">
  <div class="row">

    <div class="col-12 col-lg-4">

      <div class="part profile">
        <div class="d-flex align-items-center">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          <%= cl_image_tag @user.avatar, crop: :fill, class: "avatar mx-3" %>
        </div>
        <p><i class="fas fa-phone"> <%= current_user.phone %></i></p>
        <p><i class="fas fa-envelope"> <%= current_user.email %></i></p>
        <i class="far fa-edit"></i>
        <%= link_to 'Edit Profile', edit_user_registration_path(current_user) %>
      </div>

    </div>

    <div class="col-12 col-lg-8">

      <div class="part bbqs">
        <h3>My Barbecues</h3>
        <%= link_to '+ Add a barbecue', new_barbecue_path, class: "btn btn-outline-secondary" %>
        <% @user.barbecues.each do |b| %>
        <%= link_to barbecue_path(b), style: "color: gray" do %>
          <div class="bbq my-3">
            <p class="my-1"><strong><%= b.name %></strong></p>
            <span>( <%= b.rating %>/5 <i class="fas fa-star text-warning"></i> )</span>
            <span class="mx-1"><%= link_to barbecue_path(b), class: "text-decoration-none text-secondary" do %>
                  <i class="fas fa-eye"></i><% end %></span>
            <span class="mx-1"><%= link_to edit_barbecue_path(b), class: "text-decoration-none text-secondary" do %>
                  <i class="far fa-edit"></i><% end %></span>
            <span class="mx-1"><%= link_to barbecue_path(b), method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none text-danger" do %>
                  <i class="fas fa-trash"></i><% end %></span>
          </div>
        <% end %>
        <% end %>
      </div>

      <div class="part bookings">
        <h3>My Bookings</h3>
        <% @bookings.each do |booking| %>
          <div class="booking">
            <span class="my-1"><strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong></span>
            <span class="btn btn-outline-success"><i class="fas fa-check"> Accept</i></span>
            <span class="btn btn-outline-danger"><i class="fas fa-times"> Decline</i></span>
          </div>
        <% end %>
      </div>

    </div>

  </div>
</div>
