<div class="container">

  <div class="row">
    <div class="col-12 col-lg-5">
      <div class="part contact">
      <div class="text-center py-3" style="border-bottom: 1px solid gray;"><%= cl_image_tag @user.avatar, height: 70, width: 70, crop: :fill, class: "rounded-circle" %></div>
      <h2><%= @user.first_name %> <%= @user.last_name %></h1>
        <p><i class="fas fa-phone"></i> <%= @user.phone %></p>
        <p><i class="fas fa-envelope"></i> <%= @user.email %></p>
        <div class="text-center"><%= link_to 'Send a Message', new_message_path(@user), class: "btn btn-success" %></div>
      </div>
    </div>

    <div class="col-12 col-lg-7">
      <div class="part cards d-flex justify-content-center">
        <h2 class="text-center m-3"><%= @user.first_name %>'s barbecues (<%= @user.barbecues.count %>)</h2>
          <% @user.barbecues.each do |barbecue| %>
            <%= render 'shared/card_light', barbecue: barbecue %>
          <% end %>
      </div>
    </div>
  </div>
</div>
