<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
	<div class="d-flex">
		<%= link_to root_path, class: "navbar-brand" do %>
			<div class="d-flex align-items-center">
				<%= image_tag('https://res.cloudinary.com/dwptvy074/image/upload/v1558974941/iconfinder_barbacoa_501207_linpel.png', class: "item-spaced") %>
				<h3 class="mx-2 m-0">AirBBQ</h3>
			</div>
		<% end %>
		<% unless current_page?(root_path) %>
			<%= render 'shared/search' %>
		<% end %>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<% if !user_signed_in? %>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<%= link_to 'Log in', new_user_session_path, class: "btn btn-success" %>
			<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-secondary mx-3" %>
		</div>
	<% else %>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<li class="nav-item active">
						<%= link_to "Dashboard" , dashboard_users_path, class: "nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to messages_path(current_user), class: "nav-link" do %>
							Messages <span class="badg"><%= current_user.messages_as_receiver.where(read: false).size %></span>
						<% end %>
					</li>
					<li class="nav-item dropdown">
						<div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<% if current_user.facebook_picture_url.present? %>
								<%= image_tag current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbarDropdown" %>
							<% else %>
								<%= cl_image_tag(current_user.avatar, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown") %>
							<% end %>
						</div>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
							<%= link_to "Profile" , user_path(current_user), class: "dropdown-item" %>
							<%= link_to "Sign out" , destroy_user_session_path, method: :delete, class: "dropdown-item" %>
						</div>
					</li>
				</ul>
			</div>
		<% end %>
	</div>
