<div class="bbq my-3" data-bbq-id="<%= b.id %>">
  <p class="my-1">
    <strong><%= b.name %></strong>
  </p>
  <span>
    ( <%= b.rating %>/5 <i class="fas fa-star text-warning"></i> )
  </span>
  <span class="mx-1">
    <%= link_to barbecue_path(b), class: "text-decoration-none text-secondary" do %>
      <i class="fas fa-eye"></i>
    <% end %>
  </span>
  <span class="mx-1">
    <%= link_to edit_barbecue_path(b), class: "text-decoration-none text-secondary" do %>
      <i class="far fa-edit"></i>
    <% end %>
  </span>
  <span class="mx-1">
    <%= link_to barbecue_path(b), remote: true, method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none text-danger" do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </span>
</div>