<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwptvy074/image/upload/v1558968003/barbecue-cover_ml41ba.jpg);">
	<div class="container">
		<h1>AirBBQ</h1>
		<p>Find the perfect Barbecue nearby</p>
		<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
			<div class="search-form-control form-group">
				<input class="form-control string required mr-sm-2" type="text" placeholder="Search" name="search[query]" id="search_query" aria-label="Search">
			</div>
		</form>
	</div>
</div>
<div class="cards">
	<% @barbecues.each do |barbecue| %>
		<%= link_to barbecue_path(barbecue), class: "card-trip text-decoration-none" do %>
			<div class="picture" style="background-image: url('<%= cl_image_path barbecue.pictures, height: 300, width: 400 %>');"></div>
			<div class="card-trip-infos">
				<div>
					<h2><%= barbecue.name %></h2>
					<p class="badge badge-info"><%= barbecue.types %></p>
					<p><i class="fas fa-user-friends"></i> <%= barbecue.capacity %></p>
					<p><%= barbecue.description.truncate(170) %></p>
				</div>
			</div>
			<h2 class="card-trip-pricing"><%= barbecue.price %>€</h2>
			<%= cl_image_tag barbecue.user.avatar, height: 400, width: 400, crop: :thumb, gravity: :face, class: "card-trip-user avatar avatar-bordered" %>
		<% end %>
	<% end %>
</div>
