<div class="d-flex align-items-center justify-content-center" style="height: 100vh">
	<div class="form">
		<%= simple_form_for [@user, @barbecue] do |f| %>
			<%= f.input :name %>
			<%= f.input :description, as: :text %>
			<%= f.input :address %>
			<%= f.input :model %>
			<div class="input-group">
				<%= f.input :price, as: :float %>
				<div class="input-group-append">
					<span class="input-group-text">€</span>
				</div>
			</div>
      <%= f.input :types, collection: Barbecue::TYPES %>
      <%= f.input :capacity, as: :integer %>
      <%= f.input :rating, collection: (0..5) %>
			<%= f.submit "add a barbecue", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
