<div class="form">
	<%= simple_form_for [@user, @barbecue] do |f| %>
		<%= f.input :name %>
		<%= f.input :description, as: :text %>
		<%= f.input :address %>
		<%= f.input :model %>
		<%= f.input :price, as: :float %>
		<%= f.input :types, collection: Barbecue::TYPES %>
		<%= f.input :capacity, as: :integer %>
		<%= f.input :rating, collection: (0..5) %>
	<div class ="align-button-center">
		<%= f.submit "Add a barbecue", class: "btn btn-success w-100 my-3" %>
	</div>	
	<% end %>
</div>
