<div class="form">
	<%= simple_form_for(@barbecue) do |f| %>
		<% if @barbecue.errors.any? %>
			<div class="errors-container">
				<ul>
					<% @barbecue.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<%= simple_form_for [@user, @barbecue] do |f| %>
			<%= f.input :name %>
			<%= f.input :description, as: :text %>
			<%= f.input :address %>
			<%= f.input :model, collection: BARBECUE::TYPES %>

			<%= f.submit "add a review", class: "btn btn-primary" %>
		<% end %>
	<% end %>
</div>
