<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @barbecue.pictures%>');">
	<h1><%= @barbecue.name %></h1>
	<h2><%= render 'shared/rating', barbecue: @barbecue %></h2>
</div>
<div class="container">
	<div class="row my-4">
		<div class="col-lg-3 p-0" >
			<%= cl_image_tag @barbecue.pictures, class: "w-100" %>
		</div>
		<div class="col-lg-5 p-4">
			<p><strong>Type:</strong> <%= @barbecue.types.capitalize %></p>
			<p><strong><i class="fas fa-clipboard-list"></i></strong> <%= @barbecue.description %></p>
			<p><strong><i class="fas fa-map-marker-alt"></i></strong> <%= @barbecue.address %></p>
			<p><strong><i class="fas fa-user-friends"></i></strong> <%= @barbecue.capacity%></p>
			<p><strong>Price / day:</strong> <%= @barbecue.price %> €</p>
			<p>
				<% if @barbecue.user == current_user %>
					<%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_barbecue_path, class: "btn btn-success" %>
					<%= link_to '<i class="fas fa-trash-alt"></i> Delete'.html_safe,  barbecue_path, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", method: :delete %>
				<%end%>
				<% if @barbecue.user != current_user %>
					<%= link_to '<i class="far fa-calendar-alt"></i> Book'.html_safe, new_barbecue_booking_path(@barbecue), class: "btn btn-success" %>
				<%end%>
			</p>
		</div>
		<div class ="col-lg-4"
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>
	</div>
</div>
