<div class="bannershowcase" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @barbecue.pictures%>');">
	<h1 class="mb-2"><%= @barbecue.name %></h1>
	<h2><%= render 'shared/rating', barbecue: @barbecue %></h2>
	<p class="font-weight-bold"><%= @barbecue.reviews.count %> review(s)</p>
</div>

<div class="container">
	<div class="row my-4">

		<div class="col-lg-3 p-0" >
			<%= cl_image_tag @barbecue.pictures, class: "w-100" %>
		</div>

		<div class="col-lg-5 p-4">
			<% full_name = @barbecue.user.first_name + " " + @barbecue.user.last_name %>
			<p><%= cl_image_tag(@barbecue.user.avatar, crop: :fill, class: "avatar") %> <%= link_to full_name, user_path(@barbecue.user.id), class: "text-secondary" %></p>
			<p><strong>Type:</strong> <%= @barbecue.types.capitalize %></p>
			<p><strong><i class="fas fa-clipboard-list"></i></strong> <%= @barbecue.description %></p>
			<p><strong><i class="fas fa-map-marker-alt"></i></strong> <%= @barbecue.address %></p>
			<p><strong><i class="fas fa-user-friends"></i></strong> <%= @barbecue.capacity%></p>
			<p><strong>Price / day:</strong> <%= @barbecue.price %> €</p>
			<p>
				<% if policy(@barbecue).edit? %>
					<%= link_to edit_barbecue_path(@barbecue), class:"btn btn-success" do %>
						<i class="fas fa-edit"></i> Update
					<% end %>
					<%= link_to barbecue_path,remote: true, data: { confirm: 'Are you sure?' },class: "btn btn-danger", method: :delete do %>
						<i class="fas fa-trash-alt"></i> Delete
					<% end %>
				<% end %>				
			</p>
		</div>
		<% if @barbecue.user != current_user %>
		<div class="col-12 col-lg-4">
			<%= render "bookings/new" %>
		</div>
		<%end%>
		
	</div>

	<div class="row">
			<div class ="col-lg-8 pl-0"
			id="map"
			style="width: 100%;
			height: 400px;"
			data-markers="<%= @marker.to_json %>"
			data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
			</div>

			<div class="col-lg-4 px-4">
				<h3 class="mb-3 text-center">Reviews</h3>					
				<ul class="list-unstyled" id="reviews">
				<% if @barbecue.reviews.count > 0 %>
					<% @barbecue.reviews.each do |review| %>
						<%= render 'reviews/show', review: review %>
					<%end%>
				<%else%>
					<p class="text-center"><%= "This barbecue hasn't been reviewed yet" %></p>
				<%end%>
				</ul>	
				<hr>				
				<% if user_signed_in? %>
					<h3 class="text-center">Post a review</h3>
					<div id="review_form">
					<%= render 'reviews/form', barbecue: @barbecue, review: @review%>
				<%end%>
				</div>
			</div>
		</div>
</div>

