<div class="form p-4">
<h2 class="text-center">New Rating</h2>

	<%= simple_form_for [@barbecue, @review] do |f| %>
		<%= f.input :content %>
        <%= f.input :rating, collection: Review::STARS %>
		<% if policy(Review).new? %>
			<%= link_to barbecue_path(@barbecue) do %>
				<%= f.submit "Rate this Barbecue", class: "btn btn-success w-100 my-3"%>
			<% end %>
		<% end %>
	<% end %>
</div>

